@media screen and (min-width:320px) and (max-width: 568px)
{
	html body
	{
		vertical-align: middle;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	#bloc-page
	{
		vertical-align: middle;
		width: auto;
	}

	ul 
	{
		margin: 0px;
	}

	/*ici commence mon header*/
	header
	{ 
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	header img
	{
        width: 20%;
        height: 60px;
    }

	header nav ul
	{
	    float: right;
		height: 150px;
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: wrap-reverse;
		font-size: 1.2em;
	}

	header nav
	{
		width: 0%;
	}

	header li:nth-child(1)
	{
		order:3;
	}

	header li:nth-child(2)
	{
		order:1;
	}

	header li:nth-child(3)
	{
		order:2;
	}

	.inscrire
	{
	}

	.hebergement
	{
		position: relative;
		right:10px;
		left: 10px;
		padding-right: 0px;
		padding-left: 50px;

	}

	.activite
	{
		position: relative;
		right:10px;
	}

	header nav a
	{
		font-size: 1.2em;
	}

	header nav a:visited
	{ 
        font-weight: bold;
        color: #0065FC;
	}
    
    header nav a:hover
    {
        color: #0065FC;
        border-top: none;
    }

   header ul li
    {
    	border-bottom: 3px #F2F2F2 solid;
    }

    header ul li:hover
    {
    	border-bottom: 3px #0065FC solid;
    }


    /*fin de mon header*/

    /*premiere div trouver*/
    .Trouver
    {
    }
    .Trouver h2
    {
    }

    .Trouver p
    {
    	font-size: 1.5em;
    }

    form
    {
    	padding-left: 5px;
    }

    #ville
    {
        width: 150%;
        border: 2px #F2F2F2 solid;
    }

    #Rechercher
    {
        width: ;
        font-size: 0em;
        border-radius: 10px 10px 10px 10px;
        position: relative;
        right: 7px;
    }

    label
    {
    	border-radius: 10px 0px 0px 10px;
    	position: relative;
    	left: 5px;
    }

    .Trouver .fa
    {
    	display: flex;
    	position: relative;
    	right: 37px;
    	top: 12px;
    	color: white;
    }

    .Trouver .fas
    {
    	position:relative;
    	left: 5px;
    }
    /*fin div trouver*/
    /*début seconde div filtres*/

    .filtres
    {
    	width: 100%;
    	height: 250px;
    	display: flex;
    	flex-direction: column;
    	justify-content: flex-start;
    }

    #filter
    {
    	margin: 0px;
    	padding:0px;
    	width: 100%;
    	height: 150px;
    	display: flex;
    	flex-direction: column;
    	justify-content: flex-start;
    	align-content: flex-start;
    	flex-wrap: wrap;
    }

    #filter li
    {
    	margin: 0px;
    	padding: 0px;
    	padding-right: 5px;
    	margin-top: 8px;
    	margin-left: 8px;
    }

    .filtres h3
    {
    	padding: 0px;
    	margin: 0px;
    }

    #filter li:nth-child(2)
    {
        order:4;
    }

    #filter li:nth-child(4)
    {
    	order:3;
    }

    #filter li:nth-child(3)
    {
    	order:2;
    }

    
    /*fin div filtres*/

    #p
    {
    	margin: 0px;
    	padding: 0px;
    }


    /*début de la section*/
    section
	{
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-content: center;
	}

	/*début de l'aside*/
	aside
	{
		margin: 0px;
		padding: 0px;
		width:100%;
		border-radius: 0px;
	}

	#art
	{
		width: 100%;
	}

	#graphique
	{
		width:100%;
		margin: 0px;
		padding: 0px;
	}

	#graph
	{
		position: relative;
		right:20px;
	}

	.populaire
	{ 
	}

	/*fin de l'aside*/

	/*début de l'article*/
	#Hébergement
	{
	}
	article
	{
		margin: 0px;
		padding: 0px;
		width:100%;
		background-color: white;
		border-radius: 0px;
	}

	.resultat
	{
		width: 100%;
	}

	.result
	{
		width: 100%;
	}

	#Afficher
	{
		font-weight: bold;
		position: relative;
		top:15px;

	}

	/*fin de l'article*/
	/*fin de la section*/

	/*début de la section activités*/

	#act
	{
		margin-top: 20px;
	}
	.actMarseille
	{

		margin: 0px;
		margin-bottom: 100px;
		padding: 0px;
		width: 100%;
		height: 1000px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	.grande
	{
		height: 130px;
		width:92%;
	}

	.big
	{
		height: 130px;
		width: 100%;
	}

	.petite
	{
	    height: 130px;
		width: 100%;
	}

	.small
	{
		height: 130px;
		width: 100%;
	}

	#premiere
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: center;
		width: 92%;
		height: 300px;
		margin-top: 10px;
	}

	#seconde
	{
		width: 92%;
		height: 300px;
	}

	.Fort
	{
		height: 130px;
		width: 100%;
	}

	#fort
	{
		height: 130px;
		width: 100%;

	}

	.Frioul
	{
		height: 130px;
		width: 100%;
		margin-top: 10px;
	}

	#frioul
	{
		height: 130px;
		width: 100%;
	}

	/*début du footer*/
	footer
	{
		margin: 0px;
		padding: 0px;
		width:100%;
		display: flex;
		flex-direction: column;
	}

	footer ul
	{
		margin: 0px;
		padding: 0px;
		width: 100%;
		font-size: 1.2em;
		text-indent:3em;
	}

	footer div h3 a
	{
		margin: 0px;
		padding: 0px;
		width:100%;
	}

	footer li
	{
		padding: 0px;
		margin: 0px;
	}

	
	/*fin du footer*/

}
/*fin de la partie iphone*/