/*je définis ma police*/
@font-face
{
	font-family:"Raleway";
	src:url('../Projet2-Reservia/police/Raleway-VariableFont_wght.ttf') format('true-type');
}

/*je définis les styles pincipaux*/
body
{
	font-family: "Raleway", Arial, sans-serif;
	font-size: small;
	font-style: normal;
}

em
{
	font-weight: large;
}

strong
{
	font-weight: bold;
}



/* Début de la version desktop 	min 1135px*/

header
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}


li
{
	list-style-type: none;
}

a
{
	text-decoration: none;
	color:black;
}

nav ul 
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav li 
{
	margin:20px;
}

nav a
{
	padding:20px;
}


nav a:hover
{
	color: #0065FC;
	border-top:2px #0065FC solid ;
}

/* logo reservia*/

#reservia
{
	height:50px; 
    width:100px;
    object-fit: cover;
    padding-bottom: 0px;

}

/*Div "trouver"*/
.Trouver h2 
{  
     font-size: 1.5em;
}
.Trouver .fas
{
	position:relative;
	bottom: -5px;
	left: 2px;
}

form
{ 
    display: flex;
    float: left;
}

label
{
	border-radius: 3px 0px 0px 3px;
	background-color: #F2F2F2;
	padding: 5px 10px 5px 5px;
}
#ville
{
	width: 220px;
	padding: 10px 10px 10px 10px;

}
#Rechercher
{
	background-color: #0065FC;
	color: white;
	text-align: center;
	border: none;
	border-radius: 0px 5px 5px 0px;
	padding: 10px 20px 10px 20px;
}

h2
{
	font-size: 1.2em;
}

input
{
	font-weight: bold;
}

/*div "Filtres"*/
h1
{
	font-size: 1em;
	margin-top: 50px;
	padding-left: 10px;
	text-indent: -7em;
}

#filtres
{
}

#filter
{
	display: flex;
}


#filter li
{
	float:left;
	margin: 20px 20px 20px 20px;
	padding: 0px 10px 0px 0px;
	border: 2px #F2F2F2 solid;
	border-radius: 20px 20px 20px 20px;
}

#filter .fas
{
	color:#0065FC;
}

#filter a
{
	font-weight: bold;
	font-size: 1em;
}

#filter a:hover
{
	color: #0065FC;
}

p .fa
{
	color: #0065FC;
}

#billet
{
	margin-right: 10px;
	padding: 10px 10px 10px 10px;
	background-color: #DEEBFF;
	border-radius:20px 20px 20px 20px;
}

#enfant
{
	margin-right: 10px;
	padding: 10px 12px 10px 12px;
	background-color: #DEEBFF;
	border-radius: 20px 20px 20px 20px;

}

#coeur
{
	margin-right: 10px;
	padding: 10px 10px 10px 10px;
	background-color: #DEEBFF;
	border-radius:20px 20px 20px 20px;
}

#chien
{
	margin-right: 10px;
	padding: 10px 10px 10px 10px;
	background-color: #DEEBFF;
	border-radius:20px 20px 20px 20px;
}

p
{
	padding-top: 0px;
	margin-top: 10px;
}

/*section "Hébergements"*/

section
{
	display: inline-flex;
	flex-direction: row;
	width: 100%;
}

h6
{
	display: none;
}

/*section "Hébergements" article*/
#Hebergement
{
	margin-left: 20px;
}

article
{
	width: 75%;
	height:auto;
	border-radius: 10px 10px 10px 10px;
	padding:20px 20px 20px 20px ;
	margin:10px 40px 10px 10px;
	background-color: #F2F2F2;
}

#Afficher
{
	position: auto;
	margin-left: 10px;

}


#art
{
    width: 100%;
    height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
}


span
{
	color: #0065FC;
}

.grise
{
	color:#F2F2F2;
}

.resultat
{
	height: 75px;
	width: 210px;
	border: 3px white solid;
	border-bottom: 50px white solid;
	margin:25px 10px 5px 5px;
	padding-bottom: 30px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 5px #d9d9d9;
}

#result
{
	height:100px; 
    width:100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

article em
{
	display: block;
	padding-left: 10px;
}

article .fas
{
	padding-top: 5px;
}

/*section "Hébergements" aside*/

#graphique
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
}

#graph
{
	padding: 15px 10px 10px 10px;
}

aside
{
	width: 30%;
	height:auto;
	border-radius: 10px 10px 10px 10px;
	padding:0px 10px 20px 10px ;
	margin:10px 30px 10px 10px;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.populaire
{
    height:100px; 
    width:252px;
    border: 3px white solid;
    background-color: white;
    padding-right: 5px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 5px #d9d9d9; 
}

#popular
{
	height:100px; 
    width:100px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}

.populaire em
{
	float: right;
}



/*section"Activités"*/

.actMarseille
{
	width: 100%;
	height: 400px;
	padding: 0px 0px 40px 0px; 
	margin: 10px 10px 10px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


#premiere
{
	width: 250px;
	display: flex;
	flex-direction: column;
	margin: 10px 10px 10px 10px;

}

#seconde
{
	width: 250px;
	display: flex;
	flex-direction: column;
	margin: 10px 10px 10px 10px;


}

.grande
{
    height:400px; 
    width:250px;
    border-bottom: 40px white solid;
	margin:10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 5px 5px 0px #F2F2F2;
}

#big
{
	height:400px; 
    width:100%;
    object-fit: cover; 
    border-radius: 10px 10px 0px 0px;

}

.grande em
{
	position: relative;
	bottom: 0px;
	left: 10px;
}

.petite
{
    height:160px; 
    width:250px;
    border-bottom: 40px white solid;
	margin-bottom: 40px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 5px 5px 0px #F2F2F2;
}

#small
{
	height:165px; 
    width:100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px; 
}

.petite em
{
	position: relative;
	bottom: 0px;
	left: 10px;
}

.Fort
{ 
	height:195px; 
    width:250px;
    border-bottom: 40px white solid;
	margin-bottom: 20px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 5px 5px 0px #F2F2F2;
}

#fort
{
	height:195px; 
    width:100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px; 
}

.Fort em
{
	position: relative;
	bottom: 0px;
	left: 10px;

}

.Frioul
{   
	height:120px; 
    width:250px;
    border-bottom: 40px white solid;
	margin-top: 20px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 5px 5px 0px #F2F2F2;
}

#frioul
{
	height:120px; 
    width:100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px; 
}

.Frioul em
{
	position: relative;
	bottom: 0px;
	left: 10px;
}

/*footer*/
footer
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #F2F2F2;
	padding: 15px 50px 15px 15px;
	margin: 15px 50px 15px 15px;
	text-indent: -15em;
}

h3
{
	font-size: 1em;
}



/*fin de la partie Desktop*/

/*début de la partie smartphone =>(max-width: 320px-600px)*/
@media screen and (max-width: 600px)
{
	section
	{
		flex-direction: column-reverse;
		margin: 20px 20px 20px 20px;
	}
	aside
	{
		display: flex;
		flex-direction:column;
		justify-content: space-around; 
		width: 90%;
		height: 550px;
		background-color: #F2F2F2;
	}

	.soleil 
	{
		width: 90%;
		height: 150px;
		margin: 10px 10px 10px 10px;
	}

	#soleil 
	{
		width: 40%;
		height: 100%;
	}

	.soleil  em .fas
	{
		float: left;
	}

	.coeur
	{
	    width: 90%;
		height: 150px;
		margin: 10px 10px 10px 10px;	
	}

	#eau
	{
		width: 40%;
		height: 100%;
	}

	.coeur em .fas
	{
		float: left;
	}

	.tout
	{
		width: 90%;
		height: 150px;
		margin: 10px 10px 10px 10px;
	}

	#tout
	{
		width: 40%;
		height: 100%;
	}

	.tout em .fas
	{
		float: left;
	}

	article
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 90%;
		background-color: white;
	}

	.Cannebiere
	{
		width: 100%;
		height: 120px;
		margin: 10px 10px 10px 10px;
	}

	#cannebiere
	{
		width: 100%;
		height: 130px;

	}

	.Port
	{
		width:100%;
		height: 120px;
		margin: 10px 10px 10px 10px;
	}

	#port
	{
        width:100%;
        height: 120px;
	}

	.Mouettes
	{
        width:100%;
        height: 120px;
        margin: 10px 10px 10px 10px;
	}

	#mouettes
	{
		width:100%;
		height: 120px;
	}

	.la-mer
	{
		width:100%;
		height: 120px;
		margin: 10px 10px 10px 10px;
	}

	#mer
	{
		width:100%;
		height: 120px;
	}

	.Panier
	{
		width:100%;
		height: 120px;
		margin: 10px 10px 10px 10px;
	}

	#panier
	{
		width:100%;
		height: 120px;
	}

	.Amina
	{
		width:100%;
		height: 120px;
		margin: 10px 10px 10px 10px;
	}

	#amina
	{
		width:100%;
		height: 120px;
	}

	#Afficher
	{
		margin: 10px 10px 10px 10px;
		font-weight: bold;
	}

	#act
	{
		margin-left: 40px;
	}

	.actMarseille
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 1300px;
		background-color: red;
	}

	#premiere
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	#seconde
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.Vieux
	{
		width:90%;
		height: 120px;
	}

	#vieux
	{
		width:100%;
		height: 120px;
	}

	.Fort
	{
		width:160%;
		height: 120px;
	}

	#fort
	{
		width:100%;
		height: 120px;
	}

	.iles
	{
		width:160%;
		height: 120px;
	}

	#frioul
	{
		width:100%;
		height: 120px;
	}

	.Parc
	{
		width:90%;
		height: 120px;
	}

	#parc
	{
		width:100%;
		height: 120px;
	}

	.Notre
	{
		width:160%;
		height: 120px;
	}

	#notre
	{
		width:100%;
		height: 120px;
	}

	.Longchamp
	{
		width:160%;
		height: 120px;
	}

	#longchamp
	{
		width:100%;
		height: 120px;
	}


}
/*fin de la partie iphone*/

/*début de la partie tablette =>(min-width: 600px) and (max-width: 1024px)*/
/*fin de la partie tablette*/




